<h2>Agricultura</h2>
<ul>
  <li>Tijeras para podar</li>
  <li>Rastrillos</li>
  <li>Escobas metálica</li>
  <li>Fumigadoras</li>
  <li>Machetes</li>
  <li>Bielgos</li>
  <li>Azdones</li>
  <li>Palas</li>
  <li>Guadañas</li>
  <li>Hachas</li>
  <li>Llaves para jardín</li>
  <li>Mangueras para agua</li>
  <li>Herraduras</li>
</ul>

<h2>Cerrajería</h2>
<ul>
  <li>Carraduras</li>
  <li>Cerrojos</li>
  <li>Candados</li>
  <li>Limas para cerrajero</li>
</ul>

<h2>Construcción</h2>
<ul>
  <li>Brocas</li>
  <li>Clavos</li>
  <li>Cables de acero</li>
  <li>Rafia</li>
  <li>Taquetes</li>
  <li>Tornillos</li>
  <li>Grapas</li>
  <li>Abrazaderas</li>
  <li>Pijas</li>
  <li>Alambre galvanizado</li>
  <li>Alambre de púas</li>
  <li>Ganchos geratorios</li>
  <li>Grilletes</li>
  <li>Eslabones</li>
  <li>Armellas</li>
  <li>Bandolas</li>
  <li>Cepillos de alambre</li>
  <li>Lijas</li>
  <li>Cerdas</li>
  <li>Discos para sierra</li>
</ul>

<h2>Electricidad</h2>
<ul>
  <li></li>
</ul>

<h2>Herramientas</h2>
<ul>
  <li></li>
</ul>

<h2>Herrería</h2>
<ul>
  <li></li>
</ul>

<h2>Hogar</h2>
<ul>
  <li></li>
</ul>

<h2>Plomería</h2>
<ul>
  <li></li>
</ul>
