<h1 class="text-center">Productos</h1>
<div class="row text-center">
  <% @productos.each do |producto| %>
    <div class="col-12 col-sm-6 col-lg-4 <%= cycle('index_odd', 'index_even') %>">
      <h4 class="blanco-tx text-capitalize"> <%= producto.nombre %> </h4>
      <%= link_to(image_tag(producto.imagen.thumb.url, class:"img-center"), producto) %>
      <h4 class="blanco-tx"> <%= number_to_currency(producto.precio) %> </h4>
    </div>
  <% end %>
</div>
