/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
//_APPLICATION__________________________________________________________________
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  position: relative;
  height: 100%;
}
body {
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
$colores : (
  'blanco': white,
  'azul': #0086b3,
  'negro': #000,
  'gris': #ccc,
  'lishell': #98DDDE
);
@each $nombre, $color in $colores{
  .#{$nombre}-bc{
    background-color: $color;
  }
  .#{$nombre}-tx{
    color: $color;
  }
}
//_Logo________________________________
.swiper-img {
  max-width: 100%;
  height: auto;
}
//_Slider______________________________
.main-background {
  text-align: center;
}
.swiper-container {
  position: relative;
  width: 100%;
  height: auto;

}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  // Center slide text vertically
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.imagen-encima{
  position: absolute;
  top: 0;
  left: 0;
}
//_CategoryController___________________________________________________________
.list_line_odd{
  background: #c5d5c5;
}
.list_line_even{
  background: #ddeedd;
}
.recordar-check{
  height: 16px;
  width: 16px;
  margin-left: 15px;
  color: #eee;
}
//_____Devise___________________________________________________________________
.devise-center{
  width:80%;
  margin: auto;
  padding: 150px 70px;
  background-color: #e6ffff;
}
//_ProductosController__________________________________________________________
//_index
.index_odd{
  background: #0086b3;
  margin-top: 25px;
  padding-top: 10px;
}
.index_even{
  background: #006600;
  margin-top: 25px;
  padding-top: 10px;
}
.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}
.producto-show{
  background-color: #f3f3f3;
  padding: 50px 3px;
}
.rule-show{
  border-bottom: 3px solid black;
}
.item-show{
  font-size: 1.3em;
}
.encab-show-cat{
  background-color: yellow;
  padding: 35px 10px;
}
//
